In [1]:
import pandas

In [23]:
df = pandas.read_excel("./kc_cost_tables.xlsx", sheet_name=0).rename(columns=lambda c: c.replace(" ", "_").lower())
df.head()

,description,code,tacoma_type,action_unit,base_unit,sizing_method,sizing_base_value,sizing_unit,total_direct_construction_cost,property_acquisition_cost,total_indirect_non-construction_cost,total,live_total,o&m_costs_(annual)_(e),net_present_value,tdcc_cpu,tincc_cpu,totalcapital_cpu,om_cpu
0,WQBE 01_Rain Garden Installation on Property,01,None,25 SF,25,area,25,sqft,17000,0,7000,24000,24000,2800,82000,680.000000,280.000000,960.0,112.000000
1,WQBE 02A_Bioretention Planter on Property,02A,Vegetated Box,25 SF,25,area,25,sqft,29000,0,13000,42000,42000,2800,100000,1160.000000,520.000000,1680.0,112.000000
2,WQBE_02B_Bioretention Planter in ROW,02B,Vegetated Box,25 SF,25,area,25,sqft,39000,0,17000,56000,56000,2800,114000,1560.000000,680.000000,2240.0,112.000000
3,WQBE_02C_Bioretention Planter with Property Cost,02C,Vegetated Box,25 SF,25,area,25,sqft,29000,1400,15000,44000,45400,2800,102000,1160.000000,600.000000,1760.0,112.000000
4,WQBE_03A_Bioretention Underdrain on Property,03A,Bioretention,85 SF,85,area,85,sqft,59000,0,26000,85000,85000,2800,175000,694.117647,305.882353,1000.0,32.941176

In [19]:
cols = ["description",	"code",	"tacoma_type", "sizing_method", "sizing_unit", "tdcc_cpu",	"tincc_cpu",	"totalcapital_cpu",	"om_cpu"]

In [28]:
df[cols].round(2).reset_index().to_json('kc_cost_table.json', orient='records', indent=2)